#container {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: flex-start;
    justify-content: center;

    color: '#bbe1fa';
    background: '#dd2ddd';

    padding-left: 15px;
    padding-right: 15px;
}


:focus {
    outline: -webkit-focus-ring-color auto 1px;
}
/* 
#container .box {
    max-width: 330px;
    padding: 15px;
    border: 1px solid grey;
    border-color: rgb(73,194,237);
    border-radius: 6px;
    border-width: 1px;
    margin: 30px 405px 30px 405px;
} */

#container .boxe form h2 {
    margin: 20px 0 10px 0;
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}



.boxe form input {
    position: relative;
    padding: 10px;
    display: block;
    
    border-color: none;
    font-size: 16px;
    height: auto;
}

.boxe form button {
    width: 100%;
    height: 3rem;
    margin-top: 1rem;
    border: 1px solid '#ccc';
    border-radius: 6px;

    font: 700 1.5rem Archivo;
    cursor: pointer;
    background: blue;
    display:block;
    align-items: center;
    justify-content: center;

}

.boxe form {
    max-width: 330px;
    padding: 15px;
    border: 1px solid grey;
    border-color: rgb(73,194,237);
    border-radius: 6px;
    margin: 30px auto;
}

.boxe form .form-group p a {
    margin-left: 10px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #49c2ed;
}

.boxe form .form-group label {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #49c2ed;
}

.boxe form .form-group input {
    padding: 10px;
    font-size: 16px;
}

.boxe form button span {
    color: beige;
}

.boxe form button:hover {
    color: #fff;
    background-color: #3276b1;
    border-color: #285e8e;
}

.boxe form p {
    margin-top: 1rem;
    font-size: 1.2rem;
}

.boxe form p a {
    text-decoration: none;
}